set_io CLK B6

set_io CBUS[0] C14 # PIO0_00
set_io CBUS[1] B15 # PIO0_01
set_io CBUS[2] D13 # PIO0_02
set_io CBUS[3] B14 # PIO0_03
set_io CBUS[4] C12 # PIO0_04
set_io CBUS[5] E11 # PIO0_05
set_io CBUS[6] C13 # PIO0_06
set_io CBUS[7] A16 # PIO0_07
set_io CBUS[8] A15 # PIO0_08
set_io CBUS[9] B13 # PIO0_09
set_io CBUS[10] E10 # PIO0_10
set_io CBUS[11] C11 # PIO0_11
set_io CBUS[12] D11 # PIO0_12
set_io CBUS[13] B12 # PIO0_13
set_io CBUS[14] B10 # PIO0_14
set_io CBUS[15] B11 # PIO0_15
set_io CBUS[16] C10 # PIO0_16
set_io CBUS[17] A10 # PIO0_17
set_io CBUS[18] A11 # PIO0_18
set_io CBUS[19] D10 # PIO0_19
set_io CBUS[20] C9 # PIO0_20
set_io CBUS[21] E9 # PIO0_21
set_io CBUS[22] D9 # PIO0_22
set_io CBUS[23] A9 # PIO0_23

set_io OUT C6
